.hero {
    position: relative;
}

.hero__img {
    width: 100%;
    display: block;
    
}

.gradient__dark {
    position: absolute;
    background: linear-gradient(transparent, var(--dark));
    width: 100%;
    height: 733px;
    bottom: 226px;
}

.case__dark {
    height: 227px;
    background-color: var(--dark);
}

.hero__content {
    position: absolute;
    bottom: 0px;
    color: var(--orange);
    text-align: center;
    padding-inline: 15px;
}

.hero__intro {
    font-family: Mulish;
    font-size: var(--text-base);   
    padding-top: 20px;
}

.separation {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
}

.hero__title {
    font-family: Libre Baskerville;
    font-size: var(--text-h1);
    font-weight: 700;
    padding-top: 20px;
}

.hero__subtitle {
    font-family: Libre Baskerville;
    font-size: var(--text-h2);
    padding-top: 21px;
    font-weight: 700;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cta__button-scroll {
    background-color: var(--orange);
    border: none;
    font-family: Mulish;
    font-size: var(--text-base);
    color: var(--dark);
    font-weight: 700;
    border-radius: 5px;
    height: 34px;
}

.cta__arrow {
    width: 15px;
    height: 10px;
    padding-bottom: 60px;
}

.cadre__article {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.cadre__article-image {
    width: 301px;
    height: 450px;
    border-radius: 15px;    
}

.cadre__article-content {
    position: absolute;
    z-index: 1;
    bottom: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadre__article-title {
    font-family: Mulish;
    font-size: var(--text-h4);
    font-weight: 700;
    text-align: center;
    max-width: 265px;
}

.cadre__article-desc {
    font-family: Mulish;
    font-size: var(--text-small);
    font-weight: 700;
    padding-inline: 61px;
    padding-bottom: 40px;
}

.cadre__article-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 24px;
    background-color: var(--dark);
    font-family: Mulish;
    font-size: var(--text-base);
    font-weight: 700;
    color: white; 
    border-radius: 5px;
    margin-top: 19px;
    right: 61px;
    bottom: 19px;
}

.gradient__orange {
    position: absolute;
    background: linear-gradient(transparent, var(--orange) 80%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 301px;
    height: 450px;
}

.separation__cadre {
    position: absolute;
    width: 271px;
    height: 1px;
    bottom: 62px;
    background-color: var(--dark);
}