/* CSS page d'acceuil*/

p {
    margin: 0;
}

h1, h2, h3{
    margin: 0;
}

ul {
    margin: 0;
}

.hero {
    position: relative;
}

.hero__img {
    width: 100%;
    display: block;
}

.gradient__dark {
    position: absolute;
    background: linear-gradient(transparent, var(--dark));
    width: 100%;
    height: 734px;
    bottom: 226px;
}

.case__dark {
    height: 227px;
    background-color: var(--dark);
}

.hero__content {
    position: absolute;
    bottom: 0px;
    color: var(--orange);
    text-align: center;
    padding-inline: 15px;
}

.hero__intro {
    font-family: Mulish;
    font-size: var(--text-base);   
    padding: 20px 0px;
}

.separation {
    display: block;
    margin: auto;
    width: 119px;
    height: 1px;
    background-color: var(--orange);
}

.hero__title {
    font-family: Libre Baskerville;
    font-size: var(--text-h1);
    font-weight: 700;
    padding-top: 20px;
}

.hero__subtitle {
    font-family: Libre Baskerville;
    font-size: var(--text-h2);
    padding: 21px 0px;
    font-weight: 700;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cta__arrow {
    width: 15px;
    height: 10px;
    padding-bottom: 60px;
}

.cadre__article {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.cadre__article-image {
    width: 301px;
    height: 450px;
    border-radius: 15px;    
}

.cadre__article-content {
    position: absolute;
    z-index: 1;
    bottom: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadre__article-title {
    font-family: Mulish;
    font-size: var(--text-h4);
    font-weight: 700;
    text-align: center;
    max-width: 265px;
}

.cadre__article-desc {
    font-family: Mulish;
    font-size: var(--text-small);
    font-weight: 700;
    padding: 9px 61px 52px 61px;
    max-width: 271px;
}

.gradient__orange {
    position: absolute;
    background: linear-gradient(transparent, var(--orange) 80%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 301px;
    height: 450px;
}

.separation__cadre {
    position: absolute;
    width: 271px;
    height: 1px;
    bottom: 62px;
    background-color: var(--dark);
}


/* CSS des pages articles*/


.article__hero-img {
    width: 100%;
}

.article__hero-gradient {
    position: absolute;
    bottom: 85px;
    width: 100%;
    height: 405px;
    background: linear-gradient(to bottom, transparent 0%, rgba(var(--orange-rgb), 0.1), rgba(var(--orange-rgb), 0.6) 100%);
}

.article__title {
    font-family: Libre Baskerville;
    font-size: var(--text-h1);
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    margin: 0;
    padding: 25px 0px;
}

.article__content {
    padding-inline: 15px;
}

.space {
    height: 20px;
}

.article__text {
    font-family: Mulish;
    font-size: var(--text-base);
    color: var(--dark);
    margin: 0;
    font-weight: 400;
}

.article__subtitle {
    font-family: Libre Baskerville;
    font-size: var(--text-h2);
    color: var(--blue);
    padding-top: 28px;
    padding-bottom: 20px;
}

.article__img {
    width: 100%;
    padding-top: 27px;
}

.article__img-legend {
    font-family: Mulish;
    font-size: var(--text-small);
    font-style: oblique;
    font-weight: 300;
    color: var(--blue);
}

.article__citation {
    font-family: Libre Baskerville;
    font-size: var(--text-base);
    color: var(--blue);
    font-weight: 700;
}

.article__citation--author {
    font-weight: 400;
}

.article__link {
    font-style: oblique;
    text-decoration: underline;
    color: var(--blue);
}

.space__footer {
    height: 100px;
}

.separation__article {
    margin-left: 132px;
    margin-top: 35px;
    width: 99px;
    height: 0.8px;
    background-color: var(--dark);
}

.cadre__film {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 363px;
    height: 534px;
    background: linear-gradient(var(--dark), var(--blue) 80%);
    border-radius: 15px;
}

.cadre__film-img {
    width: 301px;
    height: 402px;
    margin-top: 44px;
}

.film__name {
    font-family: Mulish;
    font-size: var(--text-base);
    font-weight: 700;
    color: var(--blue);
    margin-top: 10px;
    margin-bottom: 27px;
    text-align: center;
}

.film__info {
    color: var(--blue);
    font-weight: 700;
}