p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
}

.hero {
    position: relative;
}

.hero__img {
    width: 100%;
    display: block;
}

.gradient__dark {
    position: absolute;
    background: linear-gradient(transparent, var(--dark));
    width: 100%;
    height: 734px;
    bottom: 226px;
}

.case__dark {
    height: 227px;
    background-color: var(--dark);
}

.hero__content {
    position: absolute;
    bottom: 0px;
    color: var(--orange);
    text-align: center;
    padding-inline: 15px;
}

.hero__intro {
    font-family: Mulish;
    font-size: var(--text-base);
    padding: 20px 0px;
}

.separation {
    display: block;
    margin: auto;
    width: 119px;
    height: 1px;
    background-color: var(--orange);
}

.hero__title {
    font-family: Libre Baskerville;
    font-size: var(--text-5xl);
    font-weight: 700;
    padding-top: 20px;
}

.hero__subtitle {
    font-family: Libre Baskerville;
    font-size: var(--text-2xl);
    padding: 21px 0px;
    font-weight: 700;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cta__arrow {
    width: 15px;
    height: 10px;
    padding-bottom: 60px;
}

.article__hero {
    position: relative;
    width: 100%;
}

.article__hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.article__hero-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(var(--orange-rgb), 0.1), rgba(var(--orange-rgb), 0.6) 100%);
}

.article__title {
    font-family: Libre Baskerville;
    font-size: var(--text-5xl);
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    margin: 0;
    padding: 25px 15px;
}

.article__content {
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
}

.space {
    height: 20px;
}

.article__text {
    font-family: Mulish;
    font-size: var(--text-base);
    color: var(--dark);
    margin: 0;
    font-weight: 400;
}

.article__subtitle {
    font-family: Libre Baskerville;
    font-size: var(--text-3xl);
    color: var(--blue);
    padding-top: 28px;
    padding-bottom: 20px;
}

.article__img {
    width: 100%;
    padding-top: 27px;
}

.no-scroll {
    overflow: hidden;
}

.article__img-legend {
    font-family: Mulish;
    font-size: var(--text-small);
    font-style: oblique;
    font-weight: 300;
    color: var(--blue);
    padding-top: 7px;
}

.article__citation {
    font-family: Libre Baskerville;
    font-size: var(--text-base);
    color: var(--blue);
    font-weight: 700;
}

.article__citation--author {
    font-weight: 400;
}

.article__link {
    font-style: oblique;
    text-decoration: underline;
    color: var(--blue);
}

.space__footer {
    height: 100px;
}

.container__separation {
    display: flex;
    justify-content: center;
}

.separation__article {
    margin-top: 35px;
    width: 99px;
    height: 1px;
    background-color: var(--dark);
}


.separation__article--2 {
    margin-bottom: 7px;
}

.article__text--projects-intro {
    text-align: center;
}


.article__text--contact {
    text-align: center;
}

.ba__film {
    z-index: 500;
    width: 100%;
}