:root {

  /* color */
  --beige: #fdf0d5;
  --blue: #5b6781;
  --dark: #161616;
  --orange: #fb9d30;
  --orange-rgb: 251, 157, 48;


  /* number */
  --text-small: 0.625rem;
  --text-base: 1rem;
  --text-h4: 1.25rem;
  --text-h3: 1.5rem;
  --text-h2: 1.75rem;
  --text-h1: 2.125rem;
  /* string */
  --font-sans: Mulish;
  --font-serif: Libre Baskerville;

}