:root {

  /* color */
  --beige: #fdf0d5;
  --blue: #5b6781;
  --dark: #161616;
  --orange: #fb9d30;
  --orange-rgb: 251, 157, 48;


  /* number */
  --text-small: 0.625rem;
  --text-base: 1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.125rem;
  --text-6xl: 2.5rem;
  /* string */
  --font-sans: Mulish;
  --font-serif: Libre Baskerville;
}