.container__footer {
    background-color: var(--orange);
}

.footer {
    padding-inline: 15px
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
}

.footer__list {
    padding-top: 24px;
    list-style: none;
    font-family: Mulish; 
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 40px 0px;
    
}

.footer__link {
    color: var(--dark);
    font-size: var(--text-base);
}

.separation__footer {
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    margin-top: 7px;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 10px;
}

.mentions {
    background-color: var(--dark);
    text-align: center;
    padding-inline: 15px;
}

.mentions__text {
    font-family: Mulish;
    font-size: var(--text-small);
    font-weight: 700;
    color: var(--orange);
    padding-top: 13px;
}

.mentions__link {
    text-decoration: underline;
}

.mentions__auteur {
    font-family: Mulish;
    font-size: var(--text-small);
    font-weight: 700;
    color: var(--orange);
    padding-top: 8px;
    padding-bottom: 20px;
    margin: 0;
}
