header {
    background-color: var(--dark);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 15px;
    padding-bottom: 23px;
    padding-top: 67px;
}

.logo {
    font-family: Gloock;
    font-size: var(--text-6xl);
    color: white;
    font-weight: normal;
}