header {
    background-color: var(--dark);
    height: 138px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 15px;
    padding-bottom: 23px;
}


.menu-btn {
    background-color: transparent;
    border: none;
}

.menu-btn-img{
    padding-bottom: 5px;
}