header {
    background-color: var(--dark);
    height: 138px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 15px;
    padding-bottom: 23px;
}