

.cta__button-scroll {
    background-color: var(--orange);
    border: none;
    font-family: Mulish;
    font-size: var(--text-base);
    color: var(--dark);
    font-weight: 700;
    border-radius: 5px;
    height: 34px;
}

.cadre__article-btn {
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 24px;
    background-color: var(--dark);
    font-family: Mulish;
    font-size: var(--text-base);
    font-weight: 700;
    color: white;
    border-radius: 5px;
    margin-top: 19px;
    right: 61px;
    bottom: 19px;
    z-index: 50;
}

.cadre__film-btn {
    border: none;
    background-color: var(--dark);
    font-family: Mulish;
    font-size: var(--text-base);
    font-weight: 700;
    text-decoration: underline;
    color: var(--beige);
    padding: 7px 21px;
    border-radius: 5px;
    margin-top: 27px;
}