.menu[hidden] {
    max-height: 0;
    min-height: 0;
}

.separation__menu { 
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 69px;
    margin-top: 5px;
}

.menu {
    position: fixed;
        top: 135px;
        left: 0;    
        width: 100%;
        height: calc(100vh - 135px);   
        display: flex;
        flex-direction: column;   
        background-color: var(--dark);   
        overflow-y: auto;
        z-index: 90;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.menu.is-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.menu-btn {
    z-index: 80;
    background-color: transparent;
    border: none;
    padding: 0;
}

.menu__list,
.menu__sub-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu__list {
    gap: 30px;
}

.separation__menu--sub {
    width: 99px;
    margin-top: 75px;
    margin-bottom: 55px;
}

.sub__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menu__sub-list {
    gap: 20px;
}

.menu__link {
    font-family: Libre Baskerville;
    font-size: var(--text-base);
    padding-left: 15px;
    color: white;
}

.lang {
    text-align: right;
}

.lang-btn {
    font-family: Libre Baskerville;
    font-size: var(--text-xl);
    color: white;
    padding: 13px 19px;
    border: solid 1px;
    border-color: white;
    margin-right: 15px;

}